#container {
    width: 80%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0%;

    z-index: -1;
}

#sigmacontainer {
    width: 20%;
    /* height: 80%; */
    overflow: auto;
    left: 80%;
    position: absolute;
    padding: 10px;

    z-index: -1;
}

/* 
#helperdiv {
    width: 20%;
    height: 20%;
    left: 80%;
    top: 80%;
    position: absolute;
} */

body {
    margin: 0;
}

.toppad {
    position: relative;
    top: 7px;
}

.red {
    color: red;
}

.yellow {
    color: #c505ff;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

#credits {
    top: 95%;
    left: 98%;
    position: absolute;
    z-index: 1;
}

/* .shepherd-footer {
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 0 .75rem .75rem;

    .shepherd-button:last-child {
        margin-right: 0;
    }

    .shepherd-progress {
        font-size: .8rem;
    }
} */

.bg_white {
    background-color: white;
    border: 5px solid black;
}