#container {
    width: 80%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0%;
}

#sigmas {
    width: 20%;
    height: 80%;
    overflow: auto;
    left: 80%;
    position: absolute;
}

#helperdiv {
    width: 20%;
    height: 20%;
    left: 80%;
    top: 80%;
    position: absolute;
}

body {
    margin: 0;
}